@import ../../styles/vars

.error
  border: 3px solid $lred

.valid
  border: 3px solid $dgreen

.leviers-area
  display: flex
  justify-content: space-evenly
  align-items: center
  background: #999999
  border: 1rem solid #444
button
  align-self: center

.button-level-wrapper 
  background: #333
  width: 20rem
  margin: 0 auto
  text-align: center
  padding: 2rem
