@import ../../styles/vars

h1
    color: $lred
    margin-bottom: 1rem

.welcome-wrapper
    max-width: 80rem
    margin: 0 auto

.intro
    max-width: 50rem
    font-size: 1.5rem
    margin: 0 auto

    p
        padding-bottom: 0.8rem
