@import ../../styles/vars

.level-box
  padding: 1em
  font-size: 2em
  margin: 1em
  display: flex
  align-items: center
  text-align: center
  flex-direction: column

.btn
  color: $white
  font-size: 2.5rem
  cursor: pointer
  &.up
    margin-bottom: .5em
  &.down
    margin-top: .5em

.tracks
  height: 6em
  width: .8rem
  background: #404040
  box-shadow: inset -.1em 0 #2d2d2d
  position: relative
  display: flex
  justify-content: center
  border-radius: 1rem

.level-stick
  height: 1.5em
  width: 1.5em
  text-indent: -20000px
  overflow: hidden
  border-radius: 50%
  background: $lred
  box-shadow: .2rem .6rem 0 0 $dredopacity
  position: absolute

.level-stick::before 
  content: ""
  width: 10px
  height: 10px
  background: #fdd7d7
  position: absolute
  left: 11px
  top: 10px
  border-radius: 50%

